@import "tailwindcss";
@theme {
  --color-maps:#25262A;
  --color-main:#101213;
  --color-supMaps:#383C41;
  --color-red:#FE0000;
  --color-red-button:#FF3B3080;
  --color-main-green:#34C759;
  --color-stroke:#303236;
  --color-main-text:#F8F8F8;
  --font-display:"Playfair Display", serif;
  --font-inter:"Inter", serif;
  --font-roboto:"Roboto", serif;
  --font-cairo:"Cairo", serif;
  --font-dmSans:"DM Sans", serif;
 
}
body{
  font-family:"Inter", serif;
  box-sizing:border-box
}
hr{
  background-color:gray;
}
@keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    display: flex;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
  }
  
  /* Slower animation on hover */
  .animate-scroll:hover {
   /* animation-duration: 20s;  Slows down smoothly when hovered */
  } 

